body {
  background-color: #FFF;
  overflow: hidden;
  font-family: impact, charcoal, sans-serif;
}
  
#root {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
}
